.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat; /* A imagem de fundo original */
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden; /* Garante que o overlay não vaze */
}

/* Overlay azul semi-transparente */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 38, 128, 0.7), rgba(0, 60, 255, 0.4));
    z-index: 1;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
  z-index: 2; /* Para ficar na frente do overlay */
}

.header-contents h2 {
  font-weight: 600;
  color: white;
  font-size: max(4.5vw, 40px);
}

.header-contents p {
  color: white;
  font-size: 1.1vw;
}

.header-contents button {
  border: none;
  color: white;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: var(--primary-color);
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.header-contents button:hover {
    background-color: #002ab3; /* Azul mais escuro */
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 60%;
  }
  .header-contents p {
    font-size: 1.5vw;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 80%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}